* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.flex {
    display: flex;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 1px solid #000;
    z-index: 100;
}

nav.flex {
    justify-content: space-between;
    align-items: center;
}